<div class="container">
    <div class="row">
      <div class="col-sm-4" *ngFor="let specialEvent of specialEvents">
          <div class="card">
              <img src="{{specialEvent.banner}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{specialEvent.title}}</h5>
                <p class="card-text">{{specialEvent.description}}</p>
                <a href="#" class="btn btn-success">Join Event</a>
              </div>
            </div>
      </div>
    </div>
  </div>
  
  